<!DOCTYPE html>
<head>
	<meta charset="UTF-8">
	<title></title>
	<link rel='stylesheet' href="{{ url_for('static', filename='css/fullcalendar.min.css') }}"/>
	<link rel='stylesheet' href="{{ url_for('static', filename='css/externalEvents.css') }}"/>
	<script src='{{ url_for("static", filename="js/jquery.min.js") }}'></script>
	<script src='{{ url_for("static", filename="js/jquery-ui.min.js") }}'></script>
	<script src='{{ url_for("static", filename="js/moment.min.js") }}'></script>
	<script src='{{ url_for("static", filename="js/fullcalendar.js") }}'></script>
</head>
<script>

	var externalEventsList = [];

	// this method gets data from the database and then parses each task into JSON (javascript object)
        		// EventObjects can the be created here and stored in an Array
        		// that will then be used to display the list of unassigned events
    $.getJSON("{{ url_for('get_request') }}", function(result) {
        $.each(result, function(i, field){
			$.each(field, function(x, task){
				var ob = JSON.parse(task);
					var event = {
						id : ob._id,
						title : ob.content,
						start_date : ob.start_date,
						due_date : ob.due_date,
						estimated_minutes : ob.estimated_minutes
					}
				$('#external-events-listing').append("<div class='fc-event' id="+event.id+">"+ event.title +"</div>");
            		var eventObject2 = {
                		title: $.trim(event.title), // use the element's text as the event title
                		id : event.id,
                		start: "12:00",
						duration: "01:00",
                		stick: true
            		};
            		$('#'+event.id).data('event', eventObject2);
            		$('#'+event.id).draggable({
            			zIndex: 999,
            			revert: true, // will cause the event to go back to its
            			revertDuration: 0 //  original position after the drag
        			});
			});
        });
    });

	$(function() {

		// set function for events
		$("#external-events .fc-event").each(function() {
			// store data so the calendar knows to render an event upon drop
			$(this).data("event", {
				title: $(this).text(), // use the element's text as the event title
				start: "12:00",
				duration: "01:00",
				stick: true, // specifying stick as true will cause the event to be permanently fixed to the calendar
				id: event.id
			});
			// make the event draggable using jQuery UI
			$(this).draggable({
				zIndex: 999,
				revert: true,  // will cause the event to go back to its original position after the drag
				revertDuration: 0
			});
		});

		var eventsData = []

		// initialize the calendar
		$('#calendar').fullCalendar({
			lang: 'en-au',
			weekends: false,
			allDaySlot: false,
			minTime: "07:00:00",
			maxTime: "19:00:00",
			slotDuration: '00:15:00',
			slotLabelInterval: '01:00',
			defaultView: 'agendaWeek',
			header: {
				left: 'prev,next,today', // buttons to change date view
				center: 'title', // current
				right: 'month,agendaWeek,agendaDay' // buttons for switching view type
			},
			editable: true,
			droppable: true, // this allows things to be dropped onto the calendar
            dragRevertDuration: 0,

			drop: function(date) { 	// remove after drop function
				var fixed = new Date(date).getTime();
				eventsData.push({
            		name: $(this).text(),
            		startDate: fixed,
            		endDate: fixed
        		});

        		// sends data back after the task has been dropped onto the calender
        		$.ajax({
  					type : 'POST',
  					url : "{{ url_for('post_request') }}",
  					contentType: "application/json",
  					data : JSON.stringify({"id": $(this).attr('id'), "title": $(this).text(), "start": fixed})
				});
				$("body").append($(this));
				$(this).remove();
			},

			eventDragStop: function( event, jsEvent, ui, view ) {
                if(isEventOverDiv(jsEvent.clientX, jsEvent.clientY)) {
                    $('#calendar').fullCalendar('removeEvents', event._id);
                    var el = $( "<div class='fc-event'>" ).appendTo( '#external-events-listing' ).text( event.title );
                    el.draggable({
                      zIndex: 999,
                      revert: true,
                      revertDuration: 0
                    });
                    el.data('event', {
                    	id: event.id,
						title: event.title,
						start: "12:00",
						duration: "01:00",
						stick: true
					});
                }
            }
        });
        var isEventOverDiv = function(x, y) {
            var external_events = $( '#external-events' );
            var offset = external_events.offset();
            offset.right = external_events.width() + offset.left;
            offset.bottom = external_events.height() + offset.top;
            // Compare
            if (x >= offset.left
                && y >= offset.top
                && x <= offset.right
                && y <= offset .bottom) {
					return true;
				} // else
            return false;
        }
	});
</script>
<body>	
	<div id="calendar-container" >
		<div id="calendar"></div>
	</div>
	
	<div id='external-events'>
		<div id="external-events-listing">
			<p>
				<strong>Events</strong>
			</p>
		</div>
	</div>
	<form method="get" action="{{ url_for('pull_data_from_api') }}">
		<button>refresh</button>
	</form>
</body>
<html>